<div class="container-fluid">
  <div class="row">
    Resolved text: <span #textContainer></span>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <a class="btn btn-primary" (click)="showTextAfter2Seconds('some text')">Show text after 2 seconds (await)</a>
  </div>
  <div class="row">
    <a class="btn btn-primary" (click)="showTextAfter2SecondsWithPromises('some text 2')">Show text after 2 seconds (promise)</a>
  </div>
</div>
