<div class="container-fluid">
  <div class="row">
    Padded text: <span #textContainer></span>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <a class="btn btn-primary" (click)="padStart('Text', 10)">Pad start</a>
  </div>
  <div class="row">
    <a class="btn btn-primary" (click)="padEnd('Text', 10)">Pad end</a>
  </div>
</div>
