<div>http://kangax.github.io/compat-table/es2016plus/</div>
<h1>Ecma 17</h1>
<div class="col-lg-12">
  <div class="col-lg-2">
    Async / Await
  </div>
  <div class="col-lg-9">
    All major browsers, except Internet Explorer
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-2">
    Object properties
  </div>
  <div class="col-lg-9">
    All major browsers, except Internet Explorer
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-2">
    String padding
  </div>
  <div class="col-lg-9">
    All major browsers, except Internet Explorer
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-2">
    Trailing comma
  </div>
  <div class="col-lg-9">
    All major browsers, except Internet Explorer
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-2">
    Shared memory / atomics
  </div>
  <div class="col-lg-9">
    Almost none major browsers
  </div>
</div>

<h1>Ecma 18</h1>
<div class="col-lg-12">
  <div class="col-lg-2">
    Tagged template
  </div>
  <div class="col-lg-9">
    Firefox, Chrome, and IOS browsers support it
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-2">
    Rest / Spread
  </div>
  <div class="col-lg-9">
    All major browsers, except Internet Explorer and Edge
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-2">
    Async iteration
  </div>
  <div class="col-lg-9">
    All major browsers, except Internet Explorer and Edge
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-2">
    Promises finally
  </div>
  <div class="col-lg-9">
    All major browsers, except Internet Explorer and Edge
  </div>
</div>
