<div class="container-fluid">
  <div class="row">
    Assigned object: <span *ngIf="convertedObject">{{convertedObject | json}}</span>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <a class="btn btn-primary" (click)="cloneWithAssign()">Clone with assign</a>
  </div>
  <div class="row">
    <a class="btn btn-primary" (click)="cloneWithRest()">Clone with rest</a>
  </div>
  <div class="row">
    <a class="btn btn-primary" (click)="cloneWithSpread()">Clone with spread</a>
  </div>
  <div class="row">
    <a class="btn btn-primary" (click)="combineArraysWithSpread()">Combine arrays</a>
  </div>
  <div class="row">
    <a class="btn btn-primary" (click)="combineObjectsWithSpread()">Combine objects</a>
  </div>
</div>
