<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ecma 2017/18</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/compatibility-list" routerLinkActive="active">Browser compatibility</a></li>
      <li><a routerLink="/string-padding-example" routerLinkActive="active">String padding</a></li>
      <li><a routerLink="/object-example" routerLinkActive="active">Object methods</a></li>
      <li><a routerLink="/trailing-comma-example" routerLinkActive="active">Trailing comma</a></li>
      <li><a routerLink="/async-example" routerLinkActive="active">Async / Await</a></li>
      <li><a routerLink="/tagged-template-example" routerLinkActive="active">Tagged template</a></li>
      <li><a routerLink="/rest-spread-example" routerLinkActive="active">Rest / Spread</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
