<div class="container-fluid">
  <div class="row">
    Object: {{map | json}}
  </div>
  <div class="row">
    Entries:
    <ul>
      <li *ngFor="let entry of mapEntries()">{{entry[0]}}: {{entry[1]}}</li>
    </ul>
  </div>
  <div class="row">
    Values:
    <ul>
      <li *ngFor="let value of mapValues()">{{value}}</li>
    </ul>
  </div>
  <div class="row">
    Property descriptors:
    <ul>

    </ul>
    {{propertyDescriptors() | json}}
  </div>

  <div class="row">
    <a class="btn btn-primary" (click)="copyObject()">Test copy</a>
  </div>
</div>
